/* @tailwind base; */

.m-3 {
  margin: 0.75rem;
}

.flex {
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.overflow-x-auto {
  overflow-x: auto;
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(20 20 20 / var(--tw-bg-opacity, 1));
}

.no-scroll {
  scrollbar-width: none;
}
